*
!.editorconfig
!.gitattributes
!.gitignore
!donator.properties
!gradlew
!gradlew.bat
!/contributors/
!/contributors/**
!/gradle
!/gradle/**
!/src/
!/src/**
/src/generated/resources/.cache
!/libs/
!/libs/**
!/bbmodels/
!/bbmodels/**
!build.gradle
!settings.gradle
!gradle.properties
!discord.properties
!maven.properties
!LICENSE
!README.md
!update.json