# ModelSnowMan
 public net.minecraft.client.model.animal.golem.SnowGolemModel head

# WallOrFloorItem
public net.minecraft.world.item.StandingAndWallBlockItem wallBlock

public net.minecraft.world.level.block.entity.SignBlockEntity frontText